*{
box-sizing:border-box;
margin:0;
padding:0;
}

h1{
    text-align: center;
}

.card{
    margin-top: 1rem;
}

.card-text{
    font-size: 1.5rem;
}

.form-wrapper,
.output-wrapper {
    max-width: 500px;
}

#name-list{
    list-style-type: none;
}
 
/* button{
margin:0auto;
}
 
h1{
text-align:center;
margin-top:2rem;
}
 
form{
margin:2rem;
}
 
.container{
max-width:970px;
margin:0auto;
}
 
.date{
margin:2rem;
} */

