h1{
    text-align: center;
}

.card{
    margin-top: 1rem;
}

.card-text{
    font-size: 1.5rem;
}

.form-wrapper,
.output-wrapper {
    max-width: 500px;
}

#name-list{
    list-style-type: none;
}



